*{
    padding: 0;
    margin: 0 auto;
}
.container {
    margin:0 auto;
    width: 1280px;
    height: auto;
   background-image: url('/SPCK JSI17/img/portfolio-2.jpg');
   opacity: 0.;
   
  
}



.logo {
    padding: 20px;
    text-align: center;
    height: 100px;
   
}
.logo1 {
    height: 100px;
}
.top {
    text-align: center;
}

h1 {
    padding-top: 20px;
    font-family: cursive;
    color:black;
    text-shadow: white 1px 0 1px;
    font-size: 30px;
}
p {
    font-size: 16px;
    color: black;
    font-family:cursive;
   
}
.top-con {
    text-align: center;
}
h5 {
    color: #2D3748;
}
.headline {
    padding-top: 10px;
}

.info {
    padding-top: 20px;
   
 }
 input {
    padding-left: 10px;
     color: aliceblue;
     font-size: 20px;
    border: 3px solid;
    border-radius: 10px;
    border-color: palevioletred;
   margin-top: 10px;
  margin-bottom: 10px;
    width: 400px;
    height: 50px;
    background-color: transparent;
 }


.content {
    width: 400px;
    margin: 0% auto;
}
.button {
    padding-top: 30px;
    text-align: center;
    
}
button {
    border: none;
    width: 400px;
    height: 50px;
    border-radius: 5px;
}
.aa {
   
    background-color: #fdd800;
    color:black;
    font-size: 16px;
    font-family:cursive;
}
.bb {
    background-color:#561002;
}
.buttom {
    font-family: cursive;
    padding-top: 20px;
    color:orange;
    font-weight: normal;
    text-align: center;
    padding-bottom: 30px;
}
h4 {
    margin-top: 10px;
}
a {
    font-family: cursive;
    color: orange;

}